{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="wrapper">
<div class="container" style="padding: 0 1.25em;">
    <br><br><br>
    <div id="mypage_user">
      <div id="mypage_user_key">
        <h4><span id="user_username" style="text-transform:none;">{{user.username}}</span></h4><h4>님이 최근에 성공한 음역대</h4>
      </div>
      <div id="mypage_user_value">
        <h4 id="only_low_result"></h4>
        <h4>~</h4>
        <h4 id="only_high_result"></h4>
      </div>
    </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" id = "table_title">번호</th>
      <th scope="col" id = "table_title">노래</th>
      <th scope="col" id = "table_title">가수</th>
      <th scope="col" id = "table_title">작성시간</th>
      <th scope='col' id = "table_title">추천수</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <th>{{ forloop.revcounter }}</th>
      <td scope="row"><a href="{%url 'main:request_detail' board.id%}">{{board.song}}</a></td>
      <td><a href="{%url 'main:request_detail' board.id%}">{{board.singer}}</a></td>
      <td id="mypage_td">{{board.date}}</td>
      <td id="mypage_td">{{board.like_count}}</td>
    </tr>   
    {% endfor %}
  </tbody>
</table>
</div>
</section>
{% endblock  %}