{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <br><br><br>
    <h2>{{user.username}}</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">노래</th>
      <th scope="col">가수</th>
      <th scope="col">작성시간</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <th scope="row"><a href="{%url 'main:request_detail' board.id%}">{{board.song}}</a></th>
      <td><a href="{%url 'main:request_detail' board.id%}">{{board.singer}}</a></td>
      <td style='color:white'>{{board.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock  %}