<div id="page-wrapper">

    <!-- Header -->
        <header id="header">
            <div>
                <h2 id = "vocal"><a href="{% url 'main:showmain'%}">보컬특강</a></h2>
            </div>
            <div class = "nav_lecture">
                <div class = "nav_lecture_move">
                    <div class="nav_lecture_js"><a onclick="fnMove('one')">제 1강</a></div>
                    <div class="nav_lecture_js"><a onclick="fnMove('two')">제 2강</a></div>
                    <div class="nav_lecture_js"><a onclick="fnMove('three')">제 3강</a></div>
                    <div class="nav_lecture_js"><a onclick="fnMove('four')">제 4강</a></div>
                </div>
            </div>

            <div>
                <nav>
                    <a href="#menu">Menu</a>        
                </nav>
            </div>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="{% url 'main:showmain'%}">메인 페이지</a></li>
                    <li><a href="{% url 'main:service1'%}">10초 안에 내 음역대 찾기</a></li>
                    <li><a href="{% url 'main:service2'%}">원하는 노래, 부르는 법을 알아보자</a></li>
                    <li><a href="{% url 'main:service3'%}">쓰앵님이 추천하는 너의 노래는?</a></li>
                    <li><a href="{% url 'main:board'%}">노래 요청 게시판</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users:mypage' request.user.id %}">마이페이지</a></li>
                    <li><a href="{% url 'account_logout'%}">로그아웃</a></li>

                    {% else %}
                    <li><a href="{% url 'account_login'%}">로그인</a></li>
                    <li><a href="{% url 'account_signup'%}">회원가입</a></li>
                    {% endif %}
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>

</div>