<div id="page-wrapper">

    <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'main:showmain'%}">Solid State</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="{% url 'main:showmain'%}">Home</a></li>
                    <li><a href="{% url 'main:service1'%}">Service1</a></li>
                    <li><a href="{% url 'main:service2'%}">Service2</a></li>
                    <li><a href="{% url 'main:service3'%}">Service3</a></li>
                    <li><a href="{% url 'main:board'%}"></a>Board</li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>

</div>