<div id="page-wrapper">

    <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'main:showmain'%}">AMADOO</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="{% url 'main:showmain'%}">메인 페이지</a></li>
                    <li><a href="{% url 'main:service1'%}">음역대 테스트</a></li>
                    <li><a href="{% url 'main:service2'%}">노래 가창 가능 여부</a></li>
                    <li><a href="{% url 'main:service3'%}">음정별 노래 추천</a></li>
                    <li><a href="{% url 'main:board'%}">노래 요청 게시판</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>

</div>