{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="main">
    <div class="container">
     

            <section id="wrapper">
                <header>
                    <div class="inner">
                        <h2 id="title1">노래 요청 게시판</h2>
                        <h4 style="text-align:left" id = "service1_explain">여러분이 확인하고 싶지만, 쓰앵님이 모르는 노래가 있다면 게시판에 추천해주세요. 쓰앵님이 빠른 시일 내에 게시판을 확인한 후 찾아드립니다. 추천 수가 높을 수록 빨리 찾아드릴 테니 적극적인 참여 부탁드립니다:)</h4>
                    </div>
                </header>
                <p style="text-align: center; font-family: 'Do Hyeon', sans-serif;font-size: larger;"><a class = "write_icon" href = "{% url 'main:request_new'%}"><i class="far fa-edit fa-2x"></i></a>글 작성하기</p>

            <div id="content" style="padding: 0 1.25em;">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" id="board">번호</th>
                            <th scope="col" id="board">노래</th>
                            <th scope="col" id="board">가수</th>
                            <th scope="col" id="board">작성자</th>
                            <th scope="col" id="board">작성날짜</th>
                            <th scope="col" id="board">추천수</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for board in boards %}
                        <tr>
                            <td>{{ forloop.revcounter }}</td>
                            <td><a href="{% url 'main:request_detail' board.id %}">{{board.song}}</a></td>
                            <td>{{board.singer}}</td>
                            <td>{{board.writer}}</td>
                            <br>
                            <td>{{board.date}}</td>
                            <td>{{board.like_count}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

       
        
            </div>
    </div>
    </section>
</section>
{% endblock %}