{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- Wrapper -->
		<section id="wrapper">
			<header>
				<div class="inner">
					<h2 id="title1">나의 최고음은?</h2>
				</div>
			</header>

			<div class ="level">
				<div class="level1_high">
					<h1 id = "level">순한맛 </h1>
					<div class="audios">
						<p>1옥타브 도&nbsp; </p>
					
						<p>
						   <audio controls src="{% static 'audio/1옥타브도.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p id = "checkbox">
							<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						 </p>
					
					 </div>
					 <div class="audios">
						<p>1옥타브 레&nbsp;</p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브레.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>1옥타브 미&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브미.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>1옥타브 파&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브파.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>1옥타브 솔&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브솔.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>1옥타브 라&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브라.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>1옥타브 시&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/1옥타브시.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
			
				</div>
				<div class="level2_high">
					<h1 id = level>중간맛 </h1>

					 <div class="audios">
						<p>2옥타브 도&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브도.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 레&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브레.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 미&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브미.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 파&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브파.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 솔&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브솔.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 라&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브라.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					 <div class="audios">
						<p>2옥타브 시&nbsp; </p>
						<p>
						   <audio controls src="{% static 'audio/2옥타브시.aac'%}">
							  Your browser does not support the
							  <code>
								 audio
							  </code> 
							  element.
						   </audio>
						</p>
						<p>
						   <input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
						</p>
					 </div>
					
				</div>
			
	
					<div class="level3_high">
						<h1 id = level>매운맛 </h1>
						
						<div class="audios">
							<p>3옥타브 도&nbsp; </p>
						
							<p>
							   <audio controls src="{% static 'audio/3옥타브도.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						 </div>
						 <div class="audios">
							<p>3옥타브 레&nbsp; </p>
					
							<p>
							   <audio controls src="{% static 'audio/3옥타브레.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						
						 </div>
						 <div class="audios">
							<p>3옥타브 미&nbsp; </p>
			
							<p>
							   <audio controls src="{% static 'audio/3옥타브미.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						 </div>
						 <div class="audios">
							<p>3옥타브 파&nbsp; </p>
						
							<p>
							   <audio controls src="{% static 'audio/3옥타브파.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						 </div>
						 <div class="audios">
							<p>3옥타브 솔&nbsp; </p>
					
							<p>
							   <audio controls src="{% static 'audio/3옥타브솔.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>		
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						
						 </div>
						 <div class="audios">
							<p>3옥타브 라&nbsp; </p>
					
							<p>
							   <audio controls src="{% static 'audio/3옥타브라.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						 </div>
						 <div class="audios">
							<p>3옥타브 시&nbsp; </p>
						
							<p>
							   <audio controls src="{% static 'audio/3옥타브시.aac'%}">
								  Your browser does not support the
								  <code>
									 audio
								  </code> 
								  element.
							   </audio>
							</p>
							<p id = "checkbox">
								<input type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
							 </p>
						
						 </div>

						 </div>
				
				


		</section>

			



{% endblock %}