{% extends 'base.html' %}

{% load static %}

{% block content %}
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2 id = "title1">음정 자가 진단</h2>
								<p></p>
							</div>
						</header>

						<!-- Content -->
						<!DOCTYPE html>
<html lang="en">

<body>

			<div class="audios">
				<p>1옥타브 도 &nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/도.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p id = "checkbox">
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 레 &nbsp&nbsp</p>
				<p>
					<audio controls src="audio/레.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 미&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/미.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 파&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/파.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 솔&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/솔.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 라&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/라.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>1옥타브 시&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/시.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>2옥타브 도&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/도_.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<div class="audios">
				<p>2옥타브 레&nbsp;&nbsp; </p>
				<p>
					<audio controls src="audio/레_.mp3">
						Your browser does not support the
						<code>
							audio
						</code> 
						element.
					</audio>
				</p>
				<p>
					<input type="checkbox" id="scales" name="scales">
				</p>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

					
					</section>


	</body>
</html>
{% endblock %}