{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class = "testmain">
  <a href = "{% url 'main:service1'%}"><button style="width: 250px ;font-family: 'dream4';">평균 음역대 확인하기</button></a>
</div>
<div class = "beforetolow">
  <a href = "{% url 'main:low_level1'%}"><button style="width: 250px;font-family: 'dream4';">최저음 확인하기</button></a>
</div>

<div class = "service1">
  <div class = "fake">
    <button> < </button>
  </div>
  
  <div class = "high_level">
    <div class="high_level1">
        <h1 id="high_level1">Level 1 </h1>
        <div class="audios">
          <p>1옥타브 도&nbsp; </p>

          <p>
            <audio controls src="{% static 'audio/1옥타브도.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p id = "checkbox">
            <input value="1옥타브 도" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
      
        </div>
        <div class="audios">
          <p>1옥타브 레&nbsp;</p>
          <p>
            <audio controls src="{% static 'audio/1옥타브레.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 레" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
        <div class="audios">
          <p>1옥타브 미&nbsp; </p>
          <p>
            <audio controls src="{% static 'audio/1옥타브미.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 미" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
        <div class="audios">
          <p>1옥타브 파&nbsp; </p>
          <p>
            <audio controls src="{% static 'audio/1옥타브파.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 파" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
        <div class="audios">
          <p>1옥타브 솔&nbsp; </p>
          <p>
            <audio controls src="{% static 'audio/1옥타브솔.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 솔" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
        <div class="audios">
          <p>1옥타브 라&nbsp; </p>
          <p>
            <audio controls src="{% static 'audio/1옥타브라.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 라" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
        <div class="audios">
          <p>1옥타브 시&nbsp; </p>
          <p>
            <audio controls src="{% static 'audio/1옥타브시.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio>
          </p>
          <p>
            <input value="1옥타브 시" onclick='checkOnlyOne(this); getHighCheckboxValue(this);' type="checkbox" id="scales" name="scales"style="margin-left: 15px;">
          </p>
        </div>
  </div>
</div>


  <div class = "next2">
    <a href = "{% url 'main:high_level2' %}"><button> > </button></a> 
  </div>
  </div>
  <div class = "high_result">
    {% if user.is_authenticated %}
    <button><div id="high_result"></div></button>
    {% endif %}
  </div>
{% endblock %}