{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="low_level2">
    <h1 id="low_level2">Level 2 </h1>
    <div class="audios">
      <p>1옥타브 레 &nbsp; </p>
      <p>
         <audio controls src="{% static 'audio/1옥타브레.aac'%}">
           Your browser does not support the
           <code>
             audio
           </code> 
           element.
         </audio>
      </p>
      <p id = "checkbox">
         <input value="1옥타브 레" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
       </p>
   
    </div>
    <div class="audios">
      <p>1옥타브 도  &nbsp</p>
      <p>
         <audio controls src="{% static 'audio/1옥타브도.aac'%}">
           Your browser does not support the
           <code>
             audio
           </code> 
           element.
         </audio>
      </p>
      <p>
         <input value="1옥타브 도" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
      </p>
    </div>
    <div class="audios">
      <p>0옥타브 시&nbsp; </p>
      <p>
         <audio controls src="{% static 'audio/0옥타브시.aac'%}">
           Your browser does not support the
           <code>
             audio
           </code> 
           element.
         </audio>
      </p>
      <p>
         <input value="0옥타브 시" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
      </p>
    </div>
    <div class="audios">
      <p>0옥타브 라&nbsp; </p>
      <p>
         <audio controls src="{% static 'audio/0옥타브라.aac'%}">
           Your browser does not support the
           <code>
             audio
           </code> 
           element.
         </audio>
      </p>
      <p>
         <input value="0옥타브 라" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
      </p>
    </div>
    <div class="audios">
      <p>0옥타브 솔&nbsp; </p>
      <p>
         <audio controls src="{% static 'audio/0옥타브솔.aac'%}">
           Your browser does not support the
           <code>
             audio
           </code> 
           element.
         </audio>
      </p>
      <p>
         <input value="0옥타브 솔" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
      </p>
    </div>

</div>
<div class = "next">
  <a href = "{% url 'main:low_level3' %}"><button> > </button></a> 
</div>
<div class = "before">
   <a href = "{% url 'main:low_level1' %}"><button> < </button></a> 
 </div>
 {% if user.is_authenticated %}
 <div id="low_result"></div>
 {% endif %}
{% endblock %}