{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class = "testmain">
  <a href = "{% url 'main:service1'%}"><button id="testmain_button">평균 음역대 확인하기</button></a>
</div>
<div class = "beforetohigh">
  <a href = "{% url 'main:high_level1'%}"><button id="beforetohigh_button">최고음 확인하기</button></a>
</div>

<div class = "service1">

  <div class = "before">
    <a href = "{% url 'main:low_level1' %}"><button> < </button></a> 
  </div>

  <div class="low_level">
    <div class="low_level2">
        <h1 id="low_level2">Level 2 </h1>
        <div class="audios">
          <p>1옥타브 레 &nbsp; </p>

          <p>
            <audio controls>
              <source src="{% static 'audio/1옥타브레.mp3'%}" type="audio/mp3">
            </audio>
            <!-- </audio>
            <audio controls src="{% static 'audio/1옥타브레.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio> -->
          </p>
          <p id = "checkbox">
            <input value="1옥타브 레" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
          </p>
        </div>

        <div class="audios">
          <p>1옥타브 도  &nbsp</p>
          <p>
            <audio controls>
              <source src="{% static 'audio/1옥타브도.mp3'%}" type="audio/mp3">
            </audio>
            <!-- <audio controls src="{% static 'audio/1옥타브도.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio> -->
          </p>
          <p>
            <input value="1옥타브 도" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
          </p>
        </div>

        <div class="audios">
          <p>0옥타브 시&nbsp; </p>
          <p>
            <audio controls>
              <source src="{% static 'audio/0옥타브시.mp3'%}" type="audio/mp3">
            </audio>
            <!-- <audio controls src="{% static 'audio/0옥타브시.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio> -->
          </p>
          <p>
            <input value="0옥타브 시" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
          </p>
        </div>

        <div class="audios">
          <p>0옥타브 라&nbsp; </p>
          <p>
            <audio controls>
              <source src="{% static 'audio/0옥타브라.mp3'%}" type="audio/mp3">
            </audio>
            <!-- <audio controls src="{% static 'audio/0옥타브라.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio> -->
          </p>
          <p>
            <input value="0옥타브 라" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
          </p>
        </div>

        <div class="audios">
          <p>0옥타브 솔&nbsp; </p>
          <p>
            <audio controls>
              <source src="{% static 'audio/0옥타브솔.mp3'%}" type="audio/mp3">
            </audio>
            <!-- <audio controls src="{% static 'audio/0옥타브솔.aac'%}">
              Your browser does not support the
              <code>
                audio
              </code> 
              element.
            </audio> -->
          </p>
          <p>
            <input value="0옥타브 솔" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
          </p>
        </div>
    </div>
  </div>
    <div class = "next">
      <a href = "{% url 'main:low_level3' %}"><button> > </button></a> 
    </div>
</div>    
  <div class = "low_result">
    {% if user.is_authenticated %}
    <div class="low_result_login">
      <span id="user_username">{{user.username}}</span>
      <span id="user">님의</span>
    </div>
    <div id="low_result"></div>
    {% else %}
    <div class="low_result_nologin">로그인 시, 테스트 결과 저장</div>
    {% endif %}
  </div>
  <div class = "testcaution">
    <hr>
    <h5>주의사항</h5>
    <p><strong style= "color:sandybrown">※ Mac을 제외한, iOS 환경에서는 오디오 재생이 제한됩니다.</strong></p>
    <p class="p_gap_short">※ 위 경우, <a id= "service1_alt"  style= "color:sandybrown; font-weight: bold;" href="https://youtube.com/watch?v=kF2cc0M0r9A&feature=share" target="_blank">링크</a>를 통해 음정 진단을 실시하셔야 합니다.</p>
    <p class="p_gap_short">※ Mac 사용자의 경우, Chrome 브라우저를 통해 오디오 재생이 가능합니다.</p>
  </div>
{% endblock %}