{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class = "testmain">
   <a href = "{% url 'main:service1'%}"><button style="width: 250px ;font-family: 'dream4'; ">평균 음역대 확인하기</button></a>
 </div>
 <div class = "beforetohigh">
   <a href = "{% url 'main:high_level1'%}"><button style="width: 250px;font-family: 'dream4';">최고음 확인하기</button></a>
 </div>

 <div class = "service1">
   <div class = "fake">
     <button> < </button>
   </div>

   <div class = "low_level">
      <div class="low_level1">
         <h1 id="low_level1">Level 1 </h1>
         <div class="audios">
            <p>1옥타브 시 &nbsp; </p>
         
            <p>
               <audio controls src="{% static 'audio/1옥타브시.aac'%}">
                  Your browser does not support the
                  <code>
                  audio
                  </code> 
                  element.
               </audio>
            </p>
            <p id = "checkbox">
               <input value="1옥타브 시" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
            </p>
         </div>
         <div class="audios">
            <p>1옥타브 라  &nbsp;</p>
            <p>
               <audio controls src="{% static 'audio/1옥타브라.aac'%}">
                  Your browser does not support the
                  <code>
                  audio
                  </code> 
                  element.
               </audio>
            </p>
            <p>
               <input value="1옥타브 라" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
            </p>
         </div>
         <div class="audios">
            <p>1옥타브 솔&nbsp; </p>
            <p>
               <audio controls src="{% static 'audio/1옥타브솔.aac'%}">
                  Your browser does not support the
                  <code>
                  audio
                  </code> 
                  element.
               </audio>
            </p>
            <p>
               <input value="1옥타브 솔" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
            </p>
         </div>
         <div class="audios">
            <p>1옥타브 파&nbsp; </p>
            <p>
               <audio controls src="{% static 'audio/1옥타브파.aac'%}">
                  Your browser does not support the
                  <code>
                  audio
                  </code> 
                  element.
               </audio>
            </p>
            <p>
               <input value="1옥타브 파" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
            </p>
         </div>
         <div class="audios">
            <p>1옥타브 미&nbsp; </p>
            <p>
               <audio controls src="{% static 'audio/1옥타브미.aac'%}">
                  Your browser does not support the
                  <code>
                  audio
                  </code> 
                  element.
               </audio>
            </p>
            <p>
               <input value="1옥타브 미" onclick='checkOnlyOne(this); getLowCheckboxValue(this);' type="checkbox" id="scales" name="scales" style="margin-left: 15px;">
            </p>
         </div>
      </div>
   </div>
   <div class = "next">
   <a href = "{% url 'main:low_level2' %}"><button> > </button></a> 
   </div>
</div>

<div class = "low_result">
   {% if user.is_authenticated %}
   <div style="display: flex;">
      <span id="user_username" style="font-size: 20px; font-weight: bold;">{{user.username}}</span>
      <span id = "user">님의</span>
  </div>
   <div id="low_result"></div>
   {% endif %}
</div>
{% endblock %}