{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .nav_lecture{
        visibility:visible;
    }
    body{
        background-image: url("{% static 'images/lecture.jpg'%}");
        background-size: 100%;
    }
</style>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="title">
            <h1 id = "main_title">2021 보컬 특강</h1>
            <h4 id = "main_subtitle">Special Lecture on Vocal</h4><hr>
            <h4 id = "main_explain"> 음정부터 노래까지 쓰앵님이 알려줄게 </h4>
            <h4 id = 'main_explain'><strong>↓</strong> 궁금하면 밑으로 따라와 <strong>↓</strong></h4>
        </div>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="{% url 'main:service1' %}" class="image"><img src="{% static 'images/check.png'%}"  alt=""/></a>
                <div class="content">
                    <h2 id="service_title"><i class="fas fa-microphone fa-lg"></i> 제 1강 : 10초 안에 내 음역대 찾기</h2>
                    <hr>
                    <p id='service1_title1' class = 'p_big'>내 음정도 모르면서 어떻게 노래를 부르겠는가?</p>
                    <p class="p_gap_short" id = 'service1_title2'>지피지기면 백전백승! 쓰앵님이 알려주는 음정 자가진단</p>
                    <p class="p_gap_short" id = 'service1_title3'> 나의 최저/최고 음정을 파악해 보자!</p>
                    <a href="{% url 'main:service1' %}" class="special">더보기</a>
                    <!-- <div class="star-ratings">
                        <div class="star-ratings-base space-x-2 text-lg">
                            <h5 id = "service1_star1"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> 왜 여태까지 삑사리가 났는지 알겠어요 - 허x회</h5>
                            <h5 class="h5_gap_short" id = "service1_star2"><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span> 낮은 음역대의 충격으로 별 한개는 깎습니다...그래도 명강의 인정합니다! - 오x혁</h5>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="{% url 'main:service2'%}" class="image"><img src="{% static 'images/sing.png'%}" alt="" /></a>
                <div class="content">
                    <h2 id="service_title"><i class="fas fa-music fa-lg"></i> 제 2강 : 원하는 노래, 부르는 법을 알아보자</h2>
                    <hr>
                    <p id = 'service2_title1' class = 'p_big'>부르고 싶은 노래를 소화할 자신이 없어 눈치를 보는가?<p>
                    <p class="p_gap_short" id = 'service2_title2'>내가 원하는 노래를 부를 수 있는지 판단하고,</p>
                    <p class="p_gap_short" id = 'service2_title3'>불가능하다면 적합한 키 조절법을 파악해 보자!</p>
                    <a href="{% url 'main:service2'%}" class="special">더보기</a>
                    <!-- <div class="star-ratings">
                        <div class="star-ratings-base space-x-2 text-lg">
                            <h5 id = "service2_star1"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> 휴 질풍가도 부르고 싶었는데 다행히 가능하네요...감사합니다! - 김x서</h5>
                            <h5 class="h5_gap_short" id = "service2_star2"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> 낫띵베러 완곡이 목표입니다 네 키를 낮추라네요~두 키까지 도전해볼게요! - 이x회</h5>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

 <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="{% url 'main:service3'%}" class="image"><img src="{% static 'images/song.png'%}" alt="" /></a>
                <div class="content">
                    <h2 id="service_title"><i class="fas fa-volume-up  fa-lg"></i> 제 3강 : 쓰앵님이 추천하는 너의 노래는?</h2>
                    <hr>
                    <p id = 'service3_title1' class = 'p_big'>아직도! 부르고 싶은 노래를 모르겠는가?</p>
                    <p class="p_gap_short" id = 'service3_title2'>내 음정과 취향에 맞는</p>
                    <p class="p_gap_short" id = 'service3_title3'>장르별 노래를 확인해보자! </p>
                    <a href="{% url 'main:service3'%}" class="special">더보기</a>
                    <!-- <div class="star-ratings">
                        <div class="star-ratings-base space-x-2 text-lg">
                            <h5 id = "service3_star1"><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span> 노래 부르기 전부터 음 낮출 생각만 하는 분들은 꼭 들으세요! - 신x섭</h5>
                            <h5 class="h5_gap_short" id = "service3_star2"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> 고음부터 저음까지 딱맞는 걸 느끼면서 자신감도 실력도 올랐습니다! - 이x나</h5>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
    
    <!-- Four -->
        <section id="four" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="{% url 'main:board'%}" class="image"><img src="{% static 'images/add.png' %}" alt=""/></a>
                <div class="content">
                    <h2 id="service_title"><i class="fas fa-clipboard fa-lg"></i> 노래 요청 게시판</h2>
                    <hr>
                    <p id = 'board_title1' class = 'p_big'>이 노래가 없어서 아쉬운가?</p>
                    <p class="p_gap_short" id ='board_title2'>장르 불문, 국적 불문 어떤 노래든 좋으니</p>
                    <p class="p_gap_short" id ='board_title3'>원하는 노래 요청해보자</p>
                    <a href="{% url 'main:board'%}" class="special">더보기</a>
                </div>
            </div>
        </section>

</section>


{% endblock %}