{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        
        <h2>부를 수 있을거야 아마두~</h2>
        <p>설명</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">음역대 테스트</h2>
                    <p>설명~</p>
                    <a href="{% url 'main:service1' %}" class="special">더보기</a>
                </div>
            </div>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">노래 가창 가능 여부</h2>
                    <p>설명~</p>
                    <a href="{% url 'main:service2'%}" class="special">더보기</a>
                </div>
            </div>
        </section>

    <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">음정별 노래 추천</h2>
                    <p>설명~</p>
                    <a href="{% url 'main:service3'%}" class="special">더보기</a>
                </div>
            </div>
        </section>
    
    <!-- Four -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">노래 요청 게시판</h2>
                    <p>설명</p>
                    <a href="{% url 'main:board'%}" class="special">더보기</a>
                </div>
            </div>
        </section>


</section>


{% endblock %}