{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- 본문내용 -->
<section id="main">
  <div class="container" style="font-family:  'Do Hyeon', sans-serif; ">

    <!-- Content -->
    <div id="content" style="margin-top: 150px;">
      <!-- Post -->
      <article class="box post">
        <!--좋아요-->
        <span href="#" class="like" name ="{{board.song}}" value="Like"> 
          <!--만약 유저가 좋아요를 눌렀다면 채운 하트로 변경-->
          {% if user in board.like_user_set.all %}
              <div class="alt-service-icon">
                  <i class="fas fa-heart" id ="like-icon" style="color:red;"></i>
              </div> 
          <!--아니면 비워진 하트-->
          {% else %}

              <div class="alt-service-icon">
                  <i class="far fa-heart" id ="like-icon" style="color:red;"></i> 
              </div>

          {% endif %}

          <span id="count-{{ board.id }}" class="alt-services-title font-alt"> 
              이 노래를
              {% if board.like_count == 0 %} 
                  0 명이 추천합니다
              {% else %}
                  {{ board.like_count }} 명이 추천합니다
              {% endif %}
          </span>
        </span><br><br>
        작성자 : {{board.writer}}<br>
        날짜 : {{board.date}}
        <hr>
        <p>노래제목 : {{board.song}}</p>
        <p>가수 : {{board.singer}}</p>
        <p>비고 : {{board.extra}}</p>
        
        <hr>

        {% if user == board.writer %}
        <ul class="actions" >
          <li><a href="{% url 'main:request_edit' board.id %}" class="button">수정</a></li>
          <li><a href="{% url 'main:request_delete' board.id %}" class="button">삭제</a>
            <li><a href="{% url 'main:board' %}" class="button">목록으로 돌아가기</a>
          </li>
        </ul>
        {% else %}
        <a href="{% url 'main:board' %}" class="button">목록으로 돌아가기</a>
        {% endif %}
       
        <hr><h3> 댓글목록</h3><hr>
        
       <div>
        {% for comment in comments %}
        <div>
            <p>
                작성자 : {{ comment.writer }}
  
                </p>
            <p>{{comment.content}}</p>
            <a href="{% url 'main:edit_comment' comment.id %}">수정하기&nbsp</a>
            <a href="{% url 'main:delete_comment' comment.id %}">삭제하기</a>

            <hr>
        </div>
        {%endfor%}


        {% if user.is_authenticated %}
        <div>
          <form action="{%url 'main:create_comment' board.id%}" method="POST">
             {%csrf_token%}
             <textarea name="content" placeholder="댓글 내용 입력"></textarea>
             <input type="submit" value="확인">
          </form>
       </div>
       {% else %} 
       <p>로그인 후 댓글 작성이 가능합니다</p>
       {% endif %}
    </div>
       
  </div>
</section>

<!-- 5. ajax 적용하기 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    $(".like").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            url : "{% url 'main:like_toggle' board.pk %}",
            data : {'pk':pk,'csrfmiddlewaretoken': '{{ csrf_token }}'},
            type:"POST",
            dataType:"json",
            
            success: function(response){

                if (response.like_count==null){
                    alert("로그인이 필요합니다.");
                    window.location.replace('/accounts/login/')
                }
                else{
                    if (response.result == "like"){
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-heart');
                    }
                    else{
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-heart');
                    }

                    $('#count-{{ board.id }}').html('이 노래를 '+response.like_count+' 명이 추천합니다');
                }
            },

            error: function(request, status, error){
                alert("로그인이 필요합니다.")
	            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); 
        	},
         });
    })
 </script>

{% endblock %}