{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- 본문내용 -->
<section id="main">
    <div class="container">
        <div class="row">
        </div>

        <!-- Content -->
        <div id="content" style="margin-top: 150px;">
            <!-- Post -->
                <header>
                    <p style="font-family: 'Do Hyeon', sans-serif;font-size: 40px;"> 게시글 수정하기</p>
                    <hr>
                </header>
                <div>
                    <form action="{%url 'main:request_update' board.id %}" method="POST"
                        enctype="multipart/form-data">
                        {%csrf_token%}
                        <!-- 질문 내용작성부분 -->
                        <p>노래 : <input type="text" name="singer" value="{{board.singer}}"></p>
                        <p>가수 : <input type="text" name="song" value="{{board.song}}"></p>
                        <p>비고 : <textarea type="text" name="extra" id="" cols="30" rows="10">{{board.extra}}</textarea>
                        </p>
                        <button type="submit">제출</button>
                    </form>
        </div>
    </div>
</section>

{% endblock %}
