{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id = 'page-wrapper'>

    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div class="inner">
                <h2>노래 가창 가능 여부</h2>
                <p>설명~</p>
            </div>
        </header>
    </section>
    <div class="content_second_select">
        <select class="content_second_selects" name="my_min" id="my_min">
            <option value="">나의 최저음정</option>
            <option value="6">0옥타브 파</option>
            <option value="6">0옥타브 솔</option>
            <option value="6">0옥타브 라</option>
            <option value="6">0옥타브 시</option>
            <option value="1">1옥타브 도</option>
            <option value="2">1옥타브 레</option>
            <option value="3">1옥타브 미</option>
            <option value="4">1옥타브 파</option>
            <option value="5">1옥타브 솔</option>
            <option value="6">1옥타브 라</option>
            <option value="6">1옥타브 시</option>
        </select>

        <br>

        <select class="content_second_selects" name="my_max" id="my_max">
            <option value="">나의 최고음정</option>
            <option value="1">1옥타브 도</option>
            <option value="2">1옥타브 레</option>
            <option value="3">1옥타브 미</option>
            <option value="4">1옥타브 파</option>
            <option value="5">1옥타브 솔</option>
            <option value="6">1옥타브 라</option>
            <option value="6">1옥타브 시</option>
            <option value="6">2옥타브 도</option>
            <option value="6">2옥타브 레</option>
            <option value="6">2옥타브 미</option>
            <option value="6">2옥타브 파</option>
            <option value="6">2옥타브 솔</option>
            <option value="6">2옥타브 라</option>
            <option value="6">2옥타브 시</option>
            <option value="6">3옥타브 도</option>
            <option value="6">3옥타브 레</option>
            <option value="6">3옥타브 미</option>
            <option value="6">3옥타브 파</option>
        </select>
    
    
    <br>

    <select class="content_second_selects" name="compare_song" id="compare_song">
        <option value="">부르고 싶은 노래</option>
        <option value="melomance_present">멜로망스 - 선물</option>
        <option value="limchangjung_sojuoneshot">임창정 - 소주 한 잔</option>
        <option value="iu_celebrity">IU - Celebrity</option>
    </select>
    
    <br>


    <button id = 'btn-change-text'>Click</button>
    <br><br>
    <p id='special'></p>

</div>



</div>

{% endblock %}