{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>서비스3</h2>
								<p>이것은 서비스 3 - 음정별 노래 추천</p>
							</div>
						</header> 
					</section>
					<div class="content_second_select">
						<select class="content_second_selects" name="my_min" id="my_min">
							<option value="">나의 최저음정</option>
							<option value="1">1옥타브 도</option>
							<option value="2">1옥타브 레</option>
							<option value="3">1옥타브 미</option>
							<option value="4">1옥타브 파</option>
							<option value="5">1옥타브 솔</option>
							<option value="6">1옥타브 라</option>
							<option value="7">1옥타브 시</option>
							<option value="8">2옥타브 도</option>
							<option value="9">2옥타브 레</option>
							<option value="10">2옥타브 미</option>
							<option value="11">2옥타브 파</option>
						</select>
						<select class="content_second_selects" name="my_max" id="my_max">
							<option value="">나의 최고음정</option>
							<option value="1">1옥타브 도</option>
							<option value="2">1옥타브 레</option>
							<option value="3">1옥타브 미</option>
							<option value="4">1옥타브 파</option>
							<option value="5">1옥타브 솔</option>
							<option value="6">1옥타브 라</option>
							<option value="7">1옥타브 시</option>
							<option value="8">2옥타브 도</option>
							<option value="9">2옥타브 레</option>
							<option value="10">2옥타브 미</option>
							<option value="11">2옥타브 파</option>
						</select>
					</div>
					<button id="button1">제출</button>
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
				</div>
				<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
					  <div class="carousel-item">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
					  <div class="carousel-item">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
					  <div class="carousel-item">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
					  <div class="carousel-item">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
					  <div class="carousel-item">
						<img src="images/프레젠테이션2.jpg" class="d-block w-100 img-thumbnail" alt="..." >
					  </div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Next</span>
				</button>
		  </div>

		</div>

{% endblock %}