{% extends 'base.html' %}

{% load static %}

{% block content %}


	<!-- Wrapper -->

    <section id="wrapper">
        <header>
            <div class="inner">

                <h2 id="service1_main_title">제 1강: 10초 안에 내 음역대 찾기</h2>
                <br>
                <div class = "service1_instruction">
                    <div class = "service1_step">
                        <p id = "service1_step_p"><strong>Step 1</strong> 최저음 확인하러 가기 클릭</p>
                        <p id = "service1_step_p"class = "p_gap_short"><strong>Step 2</strong> Level 1 위에서부터 재생버튼 클릭 후 듣기</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 3</strong> 해당음을 소화할 수 있는지 따라 불러보기 </p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 4</strong> 성공 시, 다음 음정으로</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 5</strong> 해당 Level 성공 시, Next Level로 가기</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 6</strong> 실패할 시, 바로 윗 음정 체크박스 선택</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 7</strong> 좌측 상단의 최근 테스트 결과 확인</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>Step 8</strong> 최고음 확인하기 클릭 후 Step 2 ~ Step 7 수행</p>
                        <p id = "service1_step_p" class = "p_gap_short"><strong>※</strong> 테스트 완료 시 '제 2강'으로 넘어가기</p>
                    </div>
                    <div class = "service1_video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/R3LqLC5aMSI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <hr>
                </div>
                <!-- <h3 id = "service1_detail_title1">필요성</h3>
                <h4 id = "service1_explain1">음역대란 사람의 목소리나 악기가 낼 수 있는 최저 음에서 최고 음까지의 범위를 말해요. 보통 우리가 노래를 부를 땐 우리 음역대의 높은 부분을 활용해요. 사람마다 음역대는 다 다른데 어떤 사람은 아래로 넓고, 어떤 사람은 위로 넓어요. 또, 위아래로 넓을 수도 있고 위아래로 좁을 수도 있어요. 자신의 음역대를 알고 노래의 옥타브를 알면, 어떤 노래를 부를 수 있는지 알게 되는 거죠. 진성과 가성을 따로 체크해보는 것도 좋지만 일단은 질러 봅시다!</h4>
                <br> -->
                <!-- <h3 id = "service1_detail_title2">주의사항</h3>
                <h4 id = "service1_explain2">자세는 곧은 자세를 준비해봐요. 서도 괜찮고 앉아도 괜찮아요. 눕거나 배배 꼰자세만 아니면 됩니다. 그리고 큰 목소리로 해야 정확한 결과가 나오니까 신고 당하지 않는, 방음이 아주 잘 되는 장소에서 해야 한다는 점 주의합시다.</h4>
                <br> -->
                <hr>
                <table >
                    <tr>               
                        <th id="service1_man_avg">남성 평균 음역대</th> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
                        <th id="service1_woman_avg">여성 평균 음역대</th>
                    </tr>
                    <tr>
                        <td id="service1_man_avg_value">0옥타브 레 ~ 2옥타브 솔</td> &nbsp; &nbsp; &nbsp; &nbsp;
                        <td id="service1_man_avg_value">0옥타브 파 ~ 3옥타브 도</td>
                    </tr>
                </table>
            </div>
            <div class="img_voice">
                <img src="{% static 'images/voice.png'%}"  width="1500" height="150"/>
            </div>
        </header>
        <div id="main">
            <div class="inner">
                <section class="tiles">
                    <article class="style6">
                        <span class="image">
                            <img id="service1_avg_image" src="{% static 'images/pic01.jpg'%}"  alt="" />
                        </span>
                        <a href="{% url 'main:low_level1' %}">
                            {% if user.is_authenticated %}
                            <div class="service1_username">
                                <span id="user_username" >{{user.username}}</span>
                                <span id="user_username_plus">님의</span>
                            </div>
                            <h2 id = "service1_menu">최저음은?{% if user.is_authenticated %}<h3 id="low_result"></h3>{% endif %}</h2>
                            {% else %}
                            <h2 id = "service1_menu">나의 최저음은?{% if user.is_authenticated %}<h3 id="low_result"></h3>{% endif %}</h2>
                            {% endif %}
                            <div class="content">
                                <p>확인하러 가기 ♪♪(oᐛ)o～♪♪</p>
                            </div>
                        </a>
                    </article>
                    
                    <article class="style1">
                        <span class="image">
                            <img src="{% static 'images/pic01.jpg'%}"  alt="" />
                        </span>
                        <a href="{% url 'main:high_level1' %}">
                            {% if user.is_authenticated %}
                            <div class="service1_username">
                                <span id="user_username">{{user.username}}</span>
                                <span id ="user_username_plus">님의</span>
                            </div>
                            <h2 id = "service1_menu">최고음은?{% if user.is_authenticated %}<h3 id="high_result"></h3>{% endif %}</h2>
                            {% else %}
                            <h2 id = "service1_menu">나의 최고음은?{% if user.is_authenticated %}<h3 id="high_result"></h3>{% endif %}</h2>
                            {% endif %}
                            <div class="content">
                                <p>확인하러 가기 ♪♪(oᐛ)o～♪♪</p>
                            </div>
                        </a>
                    </article>
                    

            </div>
        </div>
    </section>
    
{% endblock %}