{% extends 'base.html' %}

{% load static %}

{% block content %}


<div id = 'page-wrapper'>
    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div class="inner">
                <h2 id="title1">노래 가창 가능 여부</h2>
            </div>
        </header>
    </section>
    <div class="content_second_select">
        <select class="content_second_selects" name="my_min" id="my_min">
            <option value="">나의 최저 음정</option>
            <option value="1">0옥타브 도</option>
			<option value="2">0옥타브 레</option>
			<option value="3">0옥타브 미</option>
			<option value="4">0옥타브 파</option>
			<option value="5">0옥타브 솔</option>
			<option value="6">0옥타브 라</option>
			<option value="7">0옥타브 시</option>
			<option value="8">1옥타브 도</option>
			<option value="9">1옥타브 레</option>
			<option value="10">1옥타브 미</option>
			<option value="11">1옥타브 파</option>
            <option value="12">1옥타브 솔</option>
            <option value="13">1옥타브 라</option>
            <option value="14">1옥타브 시</option>
        </select>
        <br>
        <select class="content_second_selects" name="my_max" id="my_max">
            <option value="">나의 최고 음정</option>
            <option value="8">1옥타브 도</option>
			<option value="9">1옥타브 레</option>
			<option value="10">1옥타브 미</option>
			<option value="11">1옥타브 파</option>
            <option value="12">1옥타브 솔</option>
            <option value="13">1옥타브 라</option>
            <option value="14">1옥타브 시</option>
            <option value="15">2옥타브 도</option>
            <option value="16">2옥타브 레</option>
            <option value="17">2옥타브 미</option>
            <option value="18">2옥타브 파</option>
            <option value="19">2옥타브 솔</option>
            <option value="20">2옥타브 라</option>
            <option value="21">2옥타브 시</option>
            <option value="22">3옥타브 도</option>
            <option value="23">3옥타브 레</option>
            <option value="24">3옥타브 미</option>
            <option value="25">3옥타브 파</option>
            <option value="26">3옥타브 솔</option>
            <option value="27">3옥타브 라</option>
            <option value="28">3옥타브 시</option>
        </select>
    <br>
    <form name="form">
        <select class="content_second_selects" name="chosen_song" id="chosen_song">
            <option value="">부르고 싶은 노래</option>
            <option value="Marry Me">마크튭&구윤회 - Marry Me</option>
            <option value="NEXT LEVEL">aespa - NEXT LEVEL</option>
            <option value="One Love">MC THE MAX - One Love</option>
            <option value="Timeless">SG워너비 - Timeless</option>
            <option value="그 날에 나는 맘이 편했을까">이예준 - 그 날에 나는 맘이 편했을까</option>
            <option value="그녀를 사랑해줘요">하동균 - 그녀를 사랑해줘요</option>
            <option value="그대라는 사치">한동근 - 그대라는 사치</option>
            <option value="그대를 사랑하는 10가지 이유">이석훈 - 그대를 사랑하는 10가지 이유</option>
            <option value="기다릴게">하동균 & 이정 - 기다릴게</option>
            <option value="까만안경">이루 - 까만안경</option>
            <option value="꿈속에 너">에이치코드(feat.전상근) - 꿈속에 너</option>
            <option value="나를 사랑했던 사람아">허각 - 나를 사랑했던 사람아</option>
            <option value="내 사람">SG워너비 - 내 사람</option>
            <option value="내 손을 잡아(최고의 사랑 OST)">IU - 내 손을 잡아(최고의 사랑 OST)</option>
            <option value="너를 만나">폴킴 - 너를 만나</option>
            <option value="너였다면(또 오해영 OST)">정승환 - 너였다면(또 오해영 OST)</option>
            <option value="너의 모든 순간(별에서 온 그대 OST)">성시경 - 너의 모든 순간(별에서 온 그대 OST)</option>
            <option value="너의 번호를 누르고">#안녕(prod.영화처럼) - 너의 번호를 누르고</option>
            <option value="노래방에서">장범준 - 노래방에서</option>
            <option value="다시 만날까봐">V.O.S - 다시 만날까봐</option>
            <option value="라라라">SG워너비 - 라라라</option>
            <option value="롤린(Rollin')">브레이브걸스 - 롤린(Rollin')</option>
            <option value="모든 날, 모든 순간">폴킴 - 모든 날, 모든 순간</option>
            <option value="밝게 빛나는 별이 되어 비춰줄게">송이한 - 밝게 빛나는 별이 되어 비춰줄게</option>
            <option value="벌써 일년">브라운 아이즈 - 벌써 일년</option>
            <option value="사계">태연 - 사계</option>
            <option value="사랑이 식었다고 말해도 돼">먼데이키즈 - 사랑이 식었다고 말해도 돼</option>
            <option value="삭제">이승기 - 삭제</option>
            <option value="살다가">SG워너비 - 살다가</option>
            <option value="상상더하기">MSG워너비 - 상상더하기</option>
            <option value="소주 한 잔">임창정 - 소주 한 잔</option>
            <option value="스토커">10cm - 스토커</option>
            <option value="신호등">이무진 - 신호등</option>
            <option value="아로하(슬기로운 의사생활 OST)">조정석 - 아로하(슬기로운 의사생활 OST)</option>
            <option value="안아줘">정준일 - 안아줘</option>
            <option value="야생화">박효신 - 야생화</option>
            <option value="어디에도">MC THE MAX - 어디에도</option>
            <option value="오래된 노래">스탠딩에그 - 오래된 노래</option>
            <option value="우리 왜 헤어져야 해">신예영 - 우리 왜 헤어져야 해</option>
            <option value="응급실(쾌걸춘향 OST)">izi - 응급실(쾌걸춘향 OST)</option>
            <option value="이미 슬픈 사랑">야다 - 이미 슬픈 사랑</option>
            <option value="조금 취했어">임재현 - 조금 취했어</option>
            <option value="좋니">윤종신 - 좋니</option>
            <option value="지나오다">닐로 - 지나오다</option>
            <option value="첫눈처럼 너에게 가겠다">에일리 - 첫눈처럼 너에게 가겠다</option>
            <option value="체념">빅마다 - 체념</option>
            <option value="추억은 만남보다 이별에 남아">정동하 - 추억은 만남보다 이별에 남아</option>
            <option value="축가">전우성 - 축가</option>
            <option value="포장마차">황인욱 - 포장마차</option>
            <option value="형">노라조 - 형</option>
            <option value="홍연">안예은 - 홍연</option>
        </select>
    </form>
    
        <br>
        <button id = 'btn-change-text' onclick="MovetoResult('music')">검사</button>
        <br><br><br><br>

        <div class = "music">
            <img class = "music_img" src = "{% static 'images/music.png'%}">
            <div class="want_song">당신이 선택한 노래는?</div>
        </div>
        <hr>

        <div class = "play">
            <img class = "play_img" src = "{% static 'images/play.png'%}">
            <p id='normal'>당신이 부르고 싶은 노래의 음정은?</p>
            <p id='special'>얄루</p>
        </div>
        <hr>

        <div>
            <img class = "mic" src = "{% static 'images/mic.png'%}">
            <div class="result_boolean">노래의 가창 가능여부를 알려줍니다.</div>
            <br>
            <div class="result_detail">얄루</div>
        </div>

    </div>
</div>
{% endblock %}