{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .nav_lecture{
      visibility:hidden;
  }
</style>

	<!-- Wrapper -->

    <section id="wrapper">
        <header>
            <div class="inner">
                <h2 id="title1"  >음역대 테스트</h2>
            </div>
        </header>
        <div id="main">
            <div class="inner">
                <section class="tiles">
                    <article class="style6">
                        <span class="image">
                            <img src="{% static 'images/pic01.jpg'%}"  alt="" />
                        </span>
                        <a href="{% url 'main:low' %}">
                            <h2>나의 최저음은?</h2>
                            <div class="content">
                                <p>확인하러 가기 ♪♪(oᐛ)o～♪♪</p>
                            </div>
                        </a>
                    </article>
                    
                    <article class="style1">
                        <span class="image">
                            <img src="{% static 'images/pic01.jpg'%}"  alt="" />
                        </span>
                        <a href="{% url 'main:high' %}">
                            <h2>나의 최고음은?</h2>
                            <div class="content">
                                <p>확인하러 가기 ♪♪(oᐛ)o～♪♪</p>
                            </div>
                        </a>
                    </article>
                    

            </div>
        </div>


{% endblock %}