{% extends 'base.html' %}

{% load static %}

{% block content %}
<script language="javascript">

    function getSelectValue(frm)
    {
     frm.textValue.value = frm.selectBox.options[frm.selectBox.selectedIndex].text;
     frm.optionValue.value = frm.selectBox.options[frm.selectBox.selectedIndex].value;
    }
</script>

<div id = 'page-wrapper'>

    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div class="inner">
                <h2 id="title1">노래 가창 가능 여부</h2>
            </div>
        </header>
    </section>

    <div class="content_second_select">
        <select class="content_second_selects" name="my_min" id="my_min">
            <option value="">나의 최저 음정</option>
            <option value="1">0옥타브 도</option>
			<option value="2">0옥타브 레</option>
			<option value="3">0옥타브 미</option>
			<option value="4">0옥타브 파</option>
			<option value="5">0옥타브 솔</option>
			<option value="6">0옥타브 라</option>
			<option value="7">0옥타브 시</option>
			<option value="8">1옥타브 도</option>
			<option value="9">1옥타브 레</option>
			<option value="10">1옥타브 미</option>
			<option value="11">1옥타브 파</option>
            <option value="12">1옥타브 솔</option>
            <option value="13">1옥타브 라</option>
            <option value="14">1옥타브 시</option>
        </select>

        <br>

        <select class="content_second_selects" name="my_max" id="my_max">
            <option value="">나의 최고 음정</option>
            <option value="1">1옥타브 도</option>
            <option value="2">1옥타브 레</option>
            <option value="3">1옥타브 미</option>
            <option value="4">1옥타브 파</option>
            <option value="5">1옥타브 솔</option>
            <option value="6">1옥타브 라</option>
            <option value="7">1옥타브 시</option>
            <option value="8">2옥타브 도</option>
            <option value="9">2옥타브 레</option>
            <option value="10">2옥타브 미</option>
            <option value="11">2옥타브 파</option>
            <option value="12">2옥타브 솔</option>
            <option value="13">2옥타브 라</option>
            <option value="14">2옥타브 시</option>
            <option value="15">3옥타브 도</option>
            <option value="16">3옥타브 레</option>
            <option value="17">3옥타브 미</option>
            <option value="18">3옥타브 파</option>
            <option value="19">3옥타브 솔</option>
            <option value="20">3옥타브 라</option>
            <option value="21">3옥타브 시</option>
        </select>
    <br>
    <form name="form">
        <select class="content_second_selects" name="selectBox" id="selectBox" onChange="getSelectValue(this.form);">
            <option value="">부르고 싶은 노래</option>
            <option value="">마크튭&구윤회 - Marry Me</option>
            <option value="">aespa - NEXT LEVEL</option>
            <option value="">MC THE MAX - One Love</option>
            <option value="">SG워너비 - Timeless</option>
            <option value="">이예준 - 그 날에 나는 맘이 편했을까</option>
            <option value="">하동균 - 그녀를 사랑해줘요</option>
            <option value="">한동근 - 그대라는 사치</option>
            <option value="">이석훈 - 그대를 사랑하는 10가지 이유</option>
            <option value="">하동균 & 이정 - 기다릴게</option>
            <option value="">이루 - 까만안경</option>
            <option value="">에이치코드(feat.전상근) - 꿈속에 너</option>
            <option value="">허각 - 나를 사랑했던 사람아</option>
            <option value="">SG워너비 - 내 사람</option>
            <option value="">IU - 내 손을 잡아(최고의 사랑 OST)</option>
            <option value="">폴킴 - 너를 만나</option>
            <option value="">정승환 - 너였다면(또 오해영 OST)</option>
            <option value="">성시경 - 너의 모든 순간(별에서 온 그대 OST)</option>
            <option value="">#안녕(prod.영화처럼) - 너의 번호를 누르고</option>
            <option value="">장범준 - 노래방에서</option>
            <option value="">V.O.S - 다시 만날까봐</option>
            <option value="">SG워너비 - 라라라</option>
            <option value="">브레이브걸스 - 롤린(Rollin')</option>
            <option value="">폴킴 - 모든 날, 모든 순간</option>
            <option value="">송이한 - 밝게 빛나는 별이 되어 비춰줄게</option>
            <option value="">브라운 아이즈 - 벌써 일년</option>
            <option value="">태연 - 사계</option>
            <option value="">먼데이키즈 - 사랑이 식었다고 말해도 돼</option>
            <option value="">이승기 - 삭제</option>
            <option value="">SG워너비 - 살다가</option>
            <option value="">MSG워너비 - 상상더하기</option>
            <option value="">임창정 - 소주 한 잔</option>
            <option value="">10cm - 스토커</option>
            <option value="">아무진 - 스토커</option>
            <option value="">조정석 - 아로하(슬기로운 의사생활 OST)</option>
            <option value="">정준일 - 안아줘</option>
            <option value="">박효신 - 야생화</option>
            <option value="">MC THE MAX - 어디에도</option>
            <option value="">스탠딩에그 - 오래된 노래</option>
            <option value="">신예영 - 우리 왜 헤어져야 해</option>
            <option value="">izi - 응급실(쾌걸춘향 OST)</option>
            <option value="">야다 - 이미 슬픈 사랑</option>
            <option value="">임재현 - 조금 취했어</option>
            <option value="">윤종신 - 좋니</option>
            <option value="">닐로 - 지나오다</option>
            <option value="">에일리 - 첫눈처럼 너에게 가겠다</option>
            <option value="">빅마다 - 체념</option>
            <option value="">정동하 - 추억은 만남보다 이별에 남아</option>
            <option value="">전우성 - 축가</option>
            <option value="">황인욱 - 포장마차</option>
            <option value="">노라조 - 형</option>
            <option value="">안예은 - 홍연</option>
        </select>
        <br><br><br>
        당신이 부르고 싶은 노래는<br><br><input class="want_song" type="text" name="textValue" width="10">
    </form>
        
        <br><br>


        <button id = 'btn-change-text'>검사</button>
        <br><br><br><br>
        <p id='special'></p>


    </div>

</div>




{% endblock %}