{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel = "stylesheet" href = "{% static 'css/main.css' %}">

<!-- Wrapper -->
<section id="wrapper">
	<header>
		<div class="inner">
			<h2 id="service_main_title">내가 부를 수 있는 노래는?</h2>
            {% if user.is_authenticated %}<h4 style="text-align:left" id = "service1_explain"><span id="user_username" style="text-transform:none;">&nbsp;&nbsp;{{user.username}}</span>님이 설정한 음역대로 소화 가능한 노래를 찾아 추천해줍니다.<br>&nbsp;&nbsp;총 8가지의 장르별로 본인이 부를 수 있는 노래를 미리 확인할 수 있습니다.<br>&nbsp;&nbsp;단, 남녀 듀엣 노래는 최저음은 남성 기준, 최고음은 여성 기준임을 유의하세요.<br></h4>
            {% else %}<h4 style="text-align:left" id = "service1_explain">&nbsp;&nbsp;본인이 설정한 음역대로 소화 가능한 노래를 찾아 추천해줍니다.<br>&nbsp;&nbsp;총 8가지의 장르별로 본인이 부를 수 있는 노래를 미리 확인할 수 있습니다.<br>&nbsp;&nbsp;단, 남녀 듀엣 노래는 최저음은 남성 기준, 최고음은 여성 기준임을 유의하세요.<br></h4>
            {% endif %}
        </div>
    </header> 

    <div class="content_second_select">
        <select class="content_second_selects" name="my_min" id="my_min">
            <option value="">--나의 최저음정--</option>>
            <option value="1">0옥타브 도</option>
            <option value="2">0옥타브 레</option>
            <option value="3">0옥타브 미</option>
            <option value="4">0옥타브 파</option>
            <option value="5">0옥타브 솔</option>
            <option value="6">0옥타브 라</option>
            <option value="7">0옥타브 시</option>
            <option value="8">1옥타브 도</option>
            <option value="9">1옥타브 레</option>
            <option value="10">1옥타브 미</option>
            <option value="11">1옥타브 파</option>
            <option value="12">1옥타브 솔</option>
            <option value="13">1옥타브 라</option>
            <option value="14">1옥타브 시</option>
            
        </select>
        <br>
        <select class="content_second_selects" name="my_max" id="my_max">
            <option value="">--나의 최고음정--</option>
            <option value="8">1옥타브 도</option>
            <option value="9">1옥타브 레</option>
            <option value="10">1옥타브 미</option>
            <option value="11">1옥타브 파</option>
            <option value="12">1옥타브 솔</option>
            <option value="13">1옥타브 라</option>
            <option value="14">1옥타브 시</option>
            <option value="15">2옥타브 도</option>
            <option value="16">2옥타브 레</option>
            <option value="17">2옥타브 미</option>
            <option value="18">2옥타브 파</option>
            <option value="19">2옥타브 솔</option>
            <option value="20">2옥타브 라</option>
            <option value="21">2옥타브 시</option>
            <option value="22">3옥타브 도</option>
            <option value="23">3옥타브 레</option>
            <option value="24">3옥타브 미</option>
            <option value="25">3옥타브 파</option>
            <option value="26">3옥타브 솔</option>
            <option value="27">3옥타브 라</option>
            <option value="28">3옥타브 시</option>
        </select>
        <br>
        <select class="content_second_selects" name="my_genre" id="my_genre">
            <option value="">--선호 장르--</option>
            <option value="all">전체 장르</option>
            <option value="ballad">발라드</option>
            <option value="dance">댄스</option>
            <option value="rap">랩/힙합</option>
            <option value="R&B">R&B/Soul</option>
            <option value="indi">인디음악</option>
            <option value="rock">록/메탈</option>
            <option value="trot">트로트</option>
            <option value="fork">포크/블루스</option>
        </select>
    </div>
    <button id="button1">제출</button>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button> -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/songs/확인하세요.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EA%B7%B8%EB%85%80%EB%A5%BC+%EC%82%AC%EB%9E%91%ED%95%B4%EC%A4%98%EC%9A%94" target="_blank"><img src="{% static 'images/songs/그녀를사랑해줘요.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EA%B7%B8%EB%8C%80%EB%A5%BC%EC%82%AC%EB%9E%91%ED%95%98%EB%8A%9410%EA%B0%80%EC%A7%80%EC%9D%B4%EC%9C%A0" target="_blank"><img src="{% static 'images/songs/그대를사랑하는10가지이유.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EA%B9%8C%EB%A7%8C%EC%95%88%EA%B2%BD" target="_blank"><img src="{% static 'images/songs/까만안경.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EB%82%B4%EC%82%AC%EB%9E%8C" target="_blank"><img src="{% static 'images/songs/내사람.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EB%84%88%EB%A5%BC%EB%A7%8C%EB%82%98" target="_blank"><img src="{% static 'images/songs/너를만나.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EB%85%B8%EB%9E%98%EB%B0%A9%EC%97%90%EC%84%9C" target="_blank"><img src="{% static 'images/songs/노래방에서.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EB%AA%A8%EB%93%A0%EB%82%A0+%EB%AA%A8%EB%93%A0%EC%88%9C%EA%B0%84" target="_blank"><img src="{% static 'images/songs/모든날모든순간.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EC%8B%A0%ED%98%B8%EB%93%B1" target="_blank"><img src="{% static 'images/songs/신호등.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EC%95%84%EB%A1%9C%ED%95%98" target="_blank"><img src="{% static 'images/songs/아로하.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=%EC%95%88%EC%95%84%EC%A4%98" target="_blank"><img src="{% static 'images/songs/안아줘.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://www.youtube.com/results?search_query=timeless" target="_blank"><img src="{% static 'images/songs/timeless.jpeg' %}" class="d-block w-100" alt="…"></a>
            </div>  -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% endblock %}